<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="52422RadoslavSholev.FreeJustBelot" Publisher="CN=8B1220E9-5B6F-4B5E-80DD-C089EBCBA57F" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FreeJustBelot</DisplayName>
    <PublisherDisplayName>Radoslav Sholev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FreeJustBelot.App">
      <VisualElements DisplayName="FreeJustBelot" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="FreeJustBelot" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>